body {
        background: linear-gradient(
        to right, 
        #333 0%, 
        #258e2f  30%,  
        #333 70%
        );
    }

.container {
    margin: 0 30px;
}    

h1 {
    font-family: 'MedievalSharp', cursive;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 1.6em;
}

h1 {
    text-align: center;
    font-size: 4em;
    text-shadow: 0 0 20px #ac5b10;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    text-shadow: 0 0 20px #ac5b10;
}

a {
    color: #ac5b10;
}

.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #5e5e5e;
}

.flex-item:hover {
    background-color: black;
    border: 3px solid #7fff00;
  }

.photos-pg-gigs-title {
    margin-top: 0;
    margin-bottom: 7px;
}

.photos-pg-poses-title {
    margin-top: 15px;
    margin-bottom: 7px;
}

.p-photos-page {
    text-align: center;
}

  